{% extends "pages/page.html" %}
{% load i18n mezzanine_tags staticfiles widget_tweaks %}

{% block meta_title %}{{ page.title }}{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block body_id %}contact{% endblock %}

{% block extra_css %}
{% endblock %}

{% block extra_js %}

{% endblock %}

{% block no_leftest_content %}{% endblock %}
{% block no_right_content %}{% endblock %}

{% block left_content %}
    <article class="grid_5 prefix_2">
            <h3>Contact Us</h3>
            {% if request.GET.sent %}
                    {{ page.form.response|richtext_filters|safe }}
            {% else %}
                <form id="contact-form" method="post">
                    {% csrf_token %}
                            {% for hidden in form.hidden_fields %}
                                {{hidden}}
                            {% endfor %}
                      <fieldset>
                        {% for vis in form.visible_fields %}
                            <div>
                              {{ vis.label_tag }}
                              {% for err in vis.errors %}<span style="color:red">{{ err }}</span>{% endfor %}
                                {% render_field vis class="form-control" %}
                            </div>
                        {% endfor %}
                      </fieldset>
                      <div  class="text-center">
                        <button id="send_btn" class="btn btn-primary">Send</button>
                      </div>
                </form>
            {% endif %}
    </article>
{% endblock %}

