{% extends "pages/page.html" %}

{% load i18n mezzanine_tags staticfiles %}

{% block extra_css %}
{% endblock %}
{% block no_leftest_content %}{% endblock %}
{% block no_right_content %}{% endblock %}
{% block left-span-size %}sm-12{% endblock %}
{% block extra_js %}
{% endblock %}

{% block body_id %}prices{% endblock %}

{% block extra_content %}<h3>{{ page.title }}</h3>{% endblock %}

 {% block left_content %}
 	<div class="row">
		<div class="col-sm-8">
				{{ page.prices.content|richtext_filters|safe }}
		</div>
		<div class="col-sm-4">
				{{ page.prices.col2|richtext_filters|safe }}
		</div>
	<!--	<div class="col-sm-4">
				{{ page.prices.col3|richtext_filters|safe }}
		</div>
	-->
	</div>
	<h3>Most Popular Tour Destinations</h3>
	<div class="row" id="popular">
	{% for item in portitems %}
		<div class="col-sm-4"><img src="{{ MEDIA_URL }}{{ item.featured_image }}" class="img-responsive"></div>
	{% endfor %}
	</div>
{% endblock %}

{% block extra_content_below %}{% endblock %}